{% extends 'base.html' %}
{% block content %}
<h1>Argomenti</h1>
<ul class="list-group">
    {% for argomento_key, argomento in argomenti.items() %}
    <li class="list-group-item">
        <h2>{{ argomento.label }}</h2>
        <ul class="list-group">
            {% for sottoargomento in argomento.sottoargomenti %}
            <li class="list-group-item">
                <a href="{{ url_for('view_md', argomento=argomento.folder, sottoargomento=sottoargomento.folder) }}">
                    {{ sottoargomento.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}